<h1>SEARCH FOR A FLIGHT</h1>
<%= form_with url: '/flights', method: :get, local: true do |f| %>
  <%= f.label :from %>
  <%= f.select :from, ['NYC', 'SFO'] %>

  <%= f.label :to %>
  <%= f.select :to, ['NYC', 'SFO'] %>

  <%= f.label :passengers, 'Number of passengers:' %>
  <%= f.select :passengers, [1, 2, 3, 4] %>

  <%= f.label :date %>
  <%= f.select :date, Flight.distinct_dates.sort %>

  <%= f.submit 'Search' %>
<% end %>

<h1>RESULTS</h1>
<% if @flights.nil? || @flights.empty? %>
  <p>No flights from <%= params[:from] %> to <%= params[:to] %> at <%= params[:date] %>.</p>
<% else %>
  <%= form_with url: 'new_booking_path', method: :get do |f| %>
    <% @flights.each do |flight| %>
      <%= f.radio_button :flight_id, flight.id %>
      <%= f.label ('flight_id_' + flight.id.to_s).to_sym, "#{flight.from_airport.name} -> #{flight.to_airport.name}, #{flight.start}, #{distance_of_time_in_words flight.duration}" %>
      <br />
    <% end %>
    <%= f.submit 'Fly' %>
  <% end %>
<% end %>
